<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Especiales del Rock</title>
  </head>
  <body>
    <div style="padding: 15px" class="container">
      <img
        style="width: 30%"
        src="Museosi-removebg-preview.png"
        alt="Especiales del Rock"
        class="especiales-logo"
      />
    </div>
    <p>
      Desde el "Museo del Rock", les invitamos a un recorrido de la his toria de
      nuestras más queridas bandas y figuras del rock nacional. Nos ponemos la
      camiseta de fans, y con humildad y respeto, presentamos a quienes nosotres
      consideramos como "Los especiales del rock".
    </p>
    <hr />
    <main>
      <section id="contenedor container">
        <div class="row">
          <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
              <img
                src="d03acead-629b-4e00-800b-f7ba1d583c94-removebg-preview.png"
              />
            </figure>
            <div class="textos card-footer">
              <h2>LUIS ALBERTO SPINETTA</h2>
              <p>
                Luis Alberto Spinetta, o simplemente, “el flaco” Spinetta, fue
                un cantante, guitarrista, poeta, escritor, y compositor
                argentino. Su carrera se desarrolló desde 1967, hasta el año de
                su fallecimiento en 2012. Almendra, Pescado Rabioso, Invisible,
                Spinetta Jade, Spinetta y los socios del desierto, fueron las
                bandas en las que el Flaco desarrolló y nos regaló su poesía,
                además de sus trabajos solistas. Spinetta es reconocido por su
                complejidad musical, instrumental, lírica y poética, como así
                también por su especial personalidad, que lo hizo ser amado por
                todo aquel que tuvo la suerte de conocerlo o compartir
                escenarios con él.
              </p>
            </div>
          </article>
          <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
              <img
                src="fad3f995-403c-403d-b261-c5bbc0f3e5d1-removebg-preview.png"
              />
            </figure>
            <div class="textos card-footer">
              <h2>INDIO SOLARI</h2>
              <p>
                Cantante de Los redondos, creador y alma de Los fundamentalistas
                del aire acondicionado, de cantante under, a cantar ante
                millones. Presentamos al Indio Solari, quien es, sin lugar a
                dudas El artista del rock nacional. Místico y fantástico,
                compositor y artista visual, creador de “himnos” para sus fieles
                seguidores. Los redondos comenzaron allá por el año 1976 y
                presentan en total 10 discos hasta el año de su separación en
                2001. Siendo su último recital en nuestra ciudad, en el estadio
                Mario Alberto Kempes. Desde allí hasta la actualidad, el Indio
                ha desarrollo su carrera solista, presentando ya cinco discos y
                convirtiéndose progresivamente en el músico más convocante de la
                historia de nuestro país y de toda Latinoamérica, o se podría
                decir, la banda más convocante, ya que él es acompañado por
                músicos de altísimo nivel, quienes junto a él integran los
                fundamentalistas del aire acondicionado.
              </p>
            </div>
          </article>

          <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
              <img
                src="a8b6c1b9-da34-415d-9fd4-3f48fe19f85f-removebg-preview.png"
              />
            </figure>
            <div class="textos card-footer">
              <h2>LA RENGA</h2>
              <p>
                Conocidos como “el trío de Mataderos”, La Renga nace en el año
                1988, y hasta la actualidad han presentando once discos, siendo
                el último presentado este año: “Alejado de la red”. Con un
                estilo hard rock, batería y guitarra potentes, La Renga logró
                consagrarse como una de las mejores y más convocantes bandas de
                rock nacional. La banda está integrada por Gustavo "Chizzo"
                Nápoli (cantante y guitarra principal), Gabriel "Tete" Iglesias
                (bajo), Jorge "Tanque" Iglesias (batería) y "Manu" Varela
                (saxo), quien se unió a la banda en el año 2008, luego de la
                salida de "Chiflo" Sánchez. La renga se destaca por la unión de
                la banda con sus seguidores. “Somos los mismos de siempre” no es
                sólo el nombre de una canción, es más bien un sentimiento, que
                acompaña a aquellos arriba, y debajo del escenario.
              </p>
            </div>
          </article>
        </div>
        <div class="row" style="margin-top: 20px">
          <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
              <img
                src="6b776f8b-b4e6-48a3-b07b-97212e7b8944-removebg-preview.png"
              />
            </figure>
            <div class="textos card-footer">
              <h2>DIVIDIDOS</h2>
              <p>
                Banda de rock fundada en el año 1988, posterior a la separación
                de la banda Sumo, la cual fue consecuencia del fallecimiento de
                su líder, Luca Prodan. En la actualidad sus integrantes son:
                Ricardo Mollo (cantante, compositor y voz principal), Diego
                Arnedo (bajo) y Catriel Ciavarella (batería). La banda ha
                indagado en diferentes estílos musicales, como el folclore,
                siendo esto más notorio en el disco “Vengo del placard de otro”,
                lanzado en el año 2002, y en el cual encontramos “Guanuqueando”,
                tema musical compuesto por el compositor, músico y maestro rural
                jujeño Ricardo Vilca. Divididos es sin duda una de las bandas
                más importantes de nuestro país. Teniendo en su haber 12 discos,
                y caracterizándose por la potencia y llegada de su música, lleva
                más que merecido su apelativo “aplanadora del rock”.
              </p>
            </div>
          </article>

          <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
              <img
                src="0449f7de-4aed-440d-9565-fc67a155b9b6-removebg-preview.png"
              />
            </figure>
            <div class="textos card-footer">
              <h2>LOS ABULOS DE LA NADA</h2>
              <p>
                La banda fue fundada en el año 1967 por Miguel Abuelo. Al cabo
                de dos años se separó, pero en el año 1981 volvió a comenzar con
                nuevos integrantes. La banda fue una de las impulsoras de lo que
                se venía; rock, beat, folk y rock psicodélico. Los abuelos de la
                nada, formaron parte de aquel movimiento post dictadura que no
                quería esconderse más. Que quería festejar la vida y bailar. La
                banda también fue integrada por un joven y talentoso Andrés
                Calamaro, quien compuso “himnos” distintivos de la banda como
                “costumbres argentinas” y “mil horas”. Los abuelos de la nada
                cuentan con cinco discos de estudio publicados y un sexto disco
                en vivo llamado “Los abuelos en el Ópera”, lanzado en el año
                1985.
              </p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <nav class="links">
      <ul class="menú-principal">
        <li><a href="/">Home</a></li>
        <li><a href="quienessomos">Quienes Somos</a></li>
      </ul>
    </nav>
    <footer class="footer">
      <div class="data">
        <div class="redsocial">
          <h3 class="title">Siguenos</h3>
          <ul style="display: flex; list-style-type: none">
            <li style="margin-right: 20px">
              <a href="https://www.instagram.com/MuseoDelRock"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://m.facebook.com/facebook"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="contacto">
          <h3 class="title">Contacto</h3>
          3513879767
        </div>
        <div class="direccion">
          <h3 lass="title">Donde estamos</h3>
          <span href="Belgrano 827, Córdoba, Argentina"
            >Belgrano 827, Córdoba, Argentina</span
          >
        </div>
      </div>
    </footer>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!3m2!1ses-419!2sar!4v1647650584634!5m2!1ses-419!2sar!6m8!1m7!1sw2WyRoj7woa9MRQLqozDcA!2m2!1d-31.42455976874139!2d-64.19232421211242!3f9.407954703778564!4f0.7379341111980295!5f0.7820865974627469"
        width="100%"
        height="auto"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </body>
</html>
